version: '3.7'

services:
  backend:
    build:
      context: ./backend
    volumes:
      - backend:/app/backend  # Mount backend volume to /app/backend in the container
    expose:
      - "8000"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ./frontend
    volumes:
      - frontend:/app/frontend  # Mount frontend volume to /app/frontend in the container
    expose:
      - "3000"
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  backend:
    driver: local  # Docker-managed volume for backend
  frontend:
    driver: local  # Docker-managed volume for frontend
